
*.pper
*.Rproj.user
.DS_Store
* text=auto
* text eol=lf
*.png binary
.Rproj.user
.Rhistory
bivariate_map_global/bivariate_map_global.Rproj
Visualisations.Rproj
*.csv
flows/3_CAMELScl_streamflow_mm.txt
*.tif
